In [1]:
import pandas as pd
import numpy as np
import spacy

In [2]:
df=pd.read_csv('dataset.csv')

In [3]:
df

                                                     Text Language      Label
0       @Charlie_Corley @Kristine1G @amyklobuchar @Sty...       en  litigious
1       #BadBunny: Como dos gotas de agua: Joven se di...       es   negative
2       https://t.co/YJNiO0p1JV Flagstar Bank disclose...       en  litigious
3       Rwanda is set to host the headquarters of Unit...       en   positive
4       OOPS. I typed her name incorrectly (today’s br...       en  litigious
...                                                   ...      ...        ...
937849            @Juice_Lemons in the dark. it’s so good       en   positive
937850  8.SSR &amp; Disha Salian case should be solved...       en   negative
937851  *ACCIDENT:  Damage Only* - Raleigh Fire Depart...       en   negative
937852  @reblavoie So happy for her! She’s been incred...       en   positive
937853                         I'm lost and I'm found but       en   negative

[937854 rows x 3 columns]

In [5]:
df.isna().sum()

Text         0
Language    23
Label        0
dtype: int64

we have to handle only ennglish language so i am storing English alone in one dataset

In [9]:
df_new=df[df['Language']=='en']

In [10]:
df_new

                                                     Text Language      Label
0       @Charlie_Corley @Kristine1G @amyklobuchar @Sty...       en  litigious
2       https://t.co/YJNiO0p1JV Flagstar Bank disclose...       en  litigious
3       Rwanda is set to host the headquarters of Unit...       en   positive
4       OOPS. I typed her name incorrectly (today’s br...       en  litigious
5       It sucks for me since I'm focused on the natur...       en   negative
...                                                   ...      ...        ...
937849            @Juice_Lemons in the dark. it’s so good       en   positive
937850  8.SSR &amp; Disha Salian case should be solved...       en   negative
937851  *ACCIDENT:  Damage Only* - Raleigh Fire Depart...       en   negative
937852  @reblavoie So happy for her! She’s been incred...       en   positive
937853                         I'm lost and I'm found but       en   negative

[871310 rows x 3 columns]

In [11]:
df_new.isna().sum()

Text        0
Language    0
Label       0
dtype: int64

No null values

In [13]:
df_new['Label'].value_counts()

Label
positive       248516
negative       244146
uncertainty    198586
litigious      180062
Name: count, dtype: int64

COnverting lables to encoding values for output variable

In [16]:
label_mapping = {
    'positive': 0,
    'negative': 1,
    'uncertainty': 2,
    'litigious': 3
}
df_new['Label'] = df_new['Label'].map(label_mapping)

C:\Users\Arun\AppData\Local\Temp\ipykernel_4304\1911911054.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['Label'] = df_new['Label'].map(label_mapping)

In [17]:
df_new['Label'].value_counts()

Label
0    248516
1    244146
2    198586
3    180062
Name: count, dtype: int64

In [69]:
#### Data Preprocessing

In [55]:
import re
nlp = spacy.load("en_core_web_sm")
def textprocessing(context):
  

  doc = nlp(context)# Reconstruct text for spaCy processing


  lemmas = [token.lemma_.lower() for token in doc if not token.is_stop and not token.is_punct   and len(token.text) > 1 
        and token.text.isalpha()  ]
    
    # Join the lemmas back into a single string
  processed_text = ' '.join(lemmas)

  return processed_text

In [57]:
text="@Charlie_Corley @Kristine1G @amyklobuchar @StyleWriterNYC testimony https://t.co/YJNiO0p1JV Flagstar Bank disclose is NOT evidence in a court of law, state or federal. Must stand up 123 to cross examination"
textprocessing(text)

'testimony flagstar bank disclose evidence court law state federal stand cross examination'

In [58]:
df_new['precessed_text']=df_new['Text'].apply(textprocessing)

C:\Users\Arun\AppData\Local\Temp\ipykernel_4304\3311756871.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['precessed_text']=df_new['Text'].apply(textprocessing)

In [59]:
df_new.head()

,Text,Language,Label,precessed_text
0,@Charlie_Corley @Kristine1G @amyklobuchar @Sty...,en,3,testimony evidence court law state federal sta...
2,https://t.co/YJNiO0p1JV Flagstar Bank disclose...,en,3,flagstar bank disclose data breach impact mill...
3,Rwanda is set to host the headquarters of Unit...,en,0,rwanda set host headquarters united nations de...
4,OOPS. I typed her name incorrectly (today’s br...,en,3,oops type incorrectly today brave witness cass...
5,It sucks for me since I'm focused on the natur...,en,1,suck focused nature aspect thing environmental...

In [44]:
df_new[df_new.index==0]['Text']

0    @Charlie_Corley @Kristine1G @amyklobuchar @Sty...
Name: Text, dtype: object

In [60]:
df_new.isna().sum()

Text              0
Language          0
Label             0
precessed_text    0
dtype: int64

In [61]:
df_new = df_new.reset_index(drop=True)

In [62]:
df_new.head()

,Text,Language,Label,precessed_text
0,@Charlie_Corley @Kristine1G @amyklobuchar @Sty...,en,3,testimony evidence court law state federal sta...
1,https://t.co/YJNiO0p1JV Flagstar Bank disclose...,en,3,flagstar bank disclose data breach impact mill...
2,Rwanda is set to host the headquarters of Unit...,en,0,rwanda set host headquarters united nations de...
3,OOPS. I typed her name incorrectly (today’s br...,en,3,oops type incorrectly today brave witness cass...
4,It sucks for me since I'm focused on the natur...,en,1,suck focused nature aspect thing environmental...

In [70]:
## Assigning X and Y values

In [63]:
X=df_new['precessed_text']
y=df_new['Label']

In [ ]:
###### Changing Text to numercial using TF-IDF and SPlitting into train and test and apply some oversampling to match imbaleced dataset

In [64]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer


# TF-IDF Vectorization
tfidf_vectorizer = TfidfVectorizer(max_features=5000)  # You can adjust max_features as needed
X_tfidf = tfidf_vectorizer.fit_transform(X)


X_train_tfidf, X_test_tfidf, y_train, y_test = train_test_split(X_tfidf, y, test_size=0.2, random_state=42, stratify=y)


from imblearn.over_sampling import SMOTE

smote = SMOTE(random_state=42)
X_train_balanced, y_train_balanced = smote.fit_resample(X_train_tfidf, y_train)

In [68]:
print(X_train_balanced)

  (0, 3514)	0.6545920514076795
  (0, 3352)	0.5521077333963217
  (0, 346)	0.4137556903754305
  (0, 3391)	0.3090186493398303
  (1, 74)	0.3435426050212036
  (1, 1014)	0.34228711361936315
  (1, 3367)	0.25965399565277564
  (1, 626)	0.2163101170357047
  (1, 2058)	0.25321825445807383
  (1, 651)	0.45141579314103647
  (1, 2022)	0.3861162952513809
  (1, 3915)	0.16403921219063153
  (1, 4289)	0.22413841706503332
  (1, 4463)	0.18808445467007726
  (1, 3277)	0.14868286468195777
  (1, 4929)	0.1689056673676953
  (1, 2547)	0.16338024353310843
  (1, 1032)	0.20922421495453697
  (2, 1259)	0.34609044957309243
  (2, 715)	0.3269249197286172
  (2, 2166)	0.2572122711425497
  (2, 668)	0.2658834835118768
  (2, 1056)	0.309977805040831
  (2, 4379)	0.31707214442330495
  (2, 1044)	0.30232498121389617
  :	:
  (795249, 3230)	0.2127948279067135
  (795249, 2881)	0.21744154875421995
  (795249, 4502)	0.2126566543431983
  (795249, 830)	0.19998443608551933
  (795250, 1693)	0.0714193319272397
  (795250, 975)	0.04628061952927073
  (795250, 4408)	0.0572623175508947
  (795250, 3399)	0.09423775881265778
  (795250, 3537)	0.07657916043083829
  (795250, 176)	0.08062907027354071
  (795250, 2727)	0.07290461152354188
  (795251, 172)	0.1987273659029043
  (795251, 1934)	0.03897732186323191
  (795251, 4182)	0.070041001994711
  (795251, 1901)	0.048558783411132025
  (795251, 1062)	0.05467685335673232
  (795251, 3406)	0.08632754906105802
  (795251, 2000)	0.0619129626194192
  (795251, 1896)	0.09059345227071361
  (795251, 1823)	0.06644813734497175
  (795251, 1306)	0.09343701240631966
  (795251, 80)	0.10885486002693115
  (795251, 2170)	0.09607200691410894
  (795251, 4953)	0.10231147750764821
  (795251, 1058)	0.1079522179395686

In [71]:
####Model training 
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report
model = LogisticRegression(multi_class='multinomial', solver='lbfgs', max_iter=1000)
model.fit(X_train_balanced, y_train_balanced)

LogisticRegression(max_iter=1000, multi_class='multinomial')

In [73]:
####Evaluvation
X_train_pred = model.predict(X_train_balanced)

# Evaluate the model
accuracy = accuracy_score(y_train_balanced, X_train_pred)
print(f'Accuracy: {accuracy}')

Accuracy: 0.9465590781286938

In [76]:
print(X_test_tfidf)

  (0, 208)	0.6586794283723301
  (0, 1663)	0.2378909372397276
  (0, 3641)	0.2703472945511786
  (0, 2055)	0.217766034499222
  (0, 3647)	0.2700392349341808
  (0, 4964)	0.17611754853308273
  (0, 270)	0.2640848857829262
  (0, 2047)	0.24646600279375058
  (0, 3915)	0.17672456916083085
  (0, 4511)	0.31880732423429364
  (0, 2617)	0.1474619513565601
  (1, 2118)	0.6173358170422407
  (1, 3955)	0.4848095045555852
  (1, 1418)	0.28675013852125775
  (1, 4495)	0.3344382151185379
  (1, 2718)	0.3202324181651377
  (1, 4860)	0.29535211184589777
  (2, 3834)	0.6493707815667807
  (2, 1120)	0.6084589185281469
  (2, 4842)	0.3203364872271512
  (2, 3487)	0.32477664242041077
  (3, 2617)	0.6348750014765991
  (3, 3489)	0.7726148668645255
  (4, 2982)	0.39166977946447074
  (4, 1866)	0.3348905016098198
  :	:
  (174259, 3019)	0.4592611005042583
  (174259, 3760)	0.43866611346371714
  (174259, 4167)	0.44965889068791687
  (174259, 2231)	0.2936407017609687
  (174259, 3489)	0.2897241253243331
  (174260, 3328)	0.3531314921239438
  (174260, 3491)	0.33055210969879956
  (174260, 4053)	0.28424727430408514
  (174260, 4343)	0.3018298997521644
  (174260, 2506)	0.33286795550146675
  (174260, 2141)	0.2517747878272315
  (174260, 1418)	0.1783901365493584
  (174260, 981)	0.25190274856977113
  (174260, 458)	0.2920260953208182
  (174260, 4745)	0.21891055983161228
  (174260, 4417)	0.20542414192158706
  (174260, 4932)	0.21384224784159608
  (174260, 2507)	0.1598043981091967
  (174260, 4090)	0.27928460629738505
  (174261, 1286)	0.5180602802836821
  (174261, 4375)	0.39948935406376956
  (174261, 4564)	0.38142060612371065
  (174261, 3438)	0.5245809808381855
  (174261, 4929)	0.26203746513558634
  (174261, 4554)	0.28756092330928695

In [77]:
y_pred = model.predict(X_test_tfidf)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy}')
print('Classification Report:')
print(classification_report(y_test, y_pred))

Accuracy: 0.9461902193249245
Classification Report:
              precision    recall  f1-score   support

           0       0.96      0.96      0.96     49703
           1       0.95      0.95      0.95     48829
           2       0.90      0.91      0.91     39717
           3       0.97      0.97      0.97     36013

    accuracy                           0.95    174262
   macro avg       0.95      0.95      0.95    174262
weighted avg       0.95      0.95      0.95    174262

In [78]:
import pickle
file_name='training_model.pkl'
with open(file_name, 'wb') as file:
    pickle.dump(model, file)

In [95]:
model_filename = 'training_model.pkl'
with open(model_filename, 'rb') as file:
    loaded_model = pickle.load(file)

# Sample new test data (replace with your actual test data)
new_texts = ["DK, we salute you for the commitment you have to stay on top of your game, the unmatched energy you bring to every game, those powerful sixes, decisive finishes, and gorgeous glove work, all accompanied by that infectious smile. You'll forever hold the title of our DK Boss.", "The same thing happened in Salman Khan case, they persuaded the driver to take the rap !"]


# Preprocess the new test data
preprocessed_texts = [textprocessing(text) for text in new_texts]


preprocessed_texts

['dk salute commitment stay game unmatched energy bring game powerful six decisive finish gorgeous glove work accompany infectious smile forever hold title dk boss',
 'thing happen salman khan case persuade driver rap']

In [97]:
# Transform the preprocessed texts using the TF-IDF vectorizer
X_new_tfidf = tfidf_vectorizer.transform(preprocessed_texts)

# Make predictions using the loaded model
predictions = loaded_model.predict(X_new_tfidf)

for pred in predictions:
    if pred == 0:
        label = 'positive'
    elif pred == 1:
        label = 'negative'
    elif pred == 2:
        label = 'uncertainty'
    elif pred == 3:
        label = 'litigious'
    else:
        label = 'unknown'
    print(f'Prediction: {pred}, Label: {label}')

Prediction: 2, Label: uncertainty
Prediction: 2, Label: uncertainty